<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Main</title>
    <link rel="stylesheet" href="rolemain.css">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1 class="site-title">&emsp;Interviewie</h1>
        </div>
    </div>
    
    <div class="background">
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
    </div>

    <div class="content">
        <p class="chosing">&emsp;Choose a Topic.</p>
        <div class="buttons">
        <button onclick="location.href='topic1.html?topic=topic1'">Operating systems</button>
        <button onclick="location.href='topic2.html?topic=topic2'">Data Base Management Systems</button>
        <button onclick="location.href='topic3.html?topic=topic3'">Object Oriented Programming</button>
        <button onclick="location.href='topic4.html?topic=topic4'">CS Fundamentals</button>
        <button onclick="location.href='topic5.html?topic=topic5'">Data Structures</button>
    </div>
</body>
</html>
