<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Interview Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Graphik:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1 class="site-title">Interviewie</h1>
            <button class="about-btn" onclick="location.href='/index'">Home</button>
            <button class="about-btn" onclick="location.href='/about'">About</button>
        </div>
    </div>

    <div class="about-info">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">About Our Website</h2>
                <p class="card-text">Interviewie is dedicated to helping you prepare for your job interviews by providing mock interview sessions and valuable resources to improve your skills.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Our Mission</h2>
                <p class="card-text">Our mission is to empower job seekers with the confidence and skills needed to ace their interviews and land their dream jobs.</p>
            </div>
        </div>
    </div>

    <footer>
        <p>mini project</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("loaded");
        });
    </script>
</body>
</html>
