<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role 1 Interview</title>
    <link rel="stylesheet" href="/static/css/roles.css">
</head>
<body>
    <div class="header">
        <h1 class="site-title">&emsp;Interviewie</h1>
    </div>
    <div id="question-container">
        <p id="question"></p>
        <textarea id="answer" placeholder="Type your answer here"></textarea>
        <button id="microphone">🎙️</button>
        <button id="next">Next</button>
    </div>
    <div id="result-container" style="display: none;">
        <h2>Check your Results:</h2>
        <div id="score-bar">
            <span>&gt;70% = Good Answer  </span>
            <span>&gt;50% = Medium  </span>
            <span>&lt;50% = Need Improvement </span>
            <span>&lt;20% = Wrong  </span>
        </div>
        <div id="results"></div>
    </div>
    <script src="/static/js/rolescript.js"></script>
</body>
</html>