<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Preparation</title>
    <link rel="stylesheet" href="/static/css/rolemain.css">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1 class="site-title">&emsp;Interviewie</h1>
        </div>
    </div>
    
    <div class="background">
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
       <span></span>
    </div>

    <div class="content">
        <p class="chosing">&emsp;Choose a Topic.</p>
        <div class="buttons">
            <button onclick="location.href='/role1?topic=role1'">Software Engineer</button>
            <button onclick="location.href='/role2?topic=role2'">Data Scientist</button>
            <button onclick="location.href='/role3?topic=role3'">DevOps Engineer</button>
            <button onclick="location.href='/role4?topic=role4'">Front-End Developer</button>
            <button onclick="location.href='/role5?topic=role5'">Database Administrator</button>
        </div>
    </div>

    <script src="/static/js/rolescript.js"></script>
</body>
</html>
