
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: black; /* Background color adjustment */
  }
  
  .header {
    padding: 5px;
    background-color: black; /* Header background color adjustment */
  }
  
  .site-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    color: #A9BA9D; /* Color adjustment */
  }
  
  .site-subtitle {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    color: white; /* Color adjustment */
  }
  
  .image-container {
    background-image: url('https://i.pinimg.com/564x/98/fe/6b/98fe6be29985ae742ac786d04297a951.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh); /* Extended height by 20px */
    width: calc(100vw - 20px); /* Adjusted width to account for padding */
    padding-left: 10px; /* Left padding */
    padding-right: 10px; /* Right padding */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-text {
    color: white;
    text-align: center;
  }
  
  .mock-interview-title {
    font-family: 'Graphik', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }
  
  .mock-interview-subtitle {
    font-family: 'Graphik', sans-serif;
    font-size: 2rem;
    margin: 10px 0;
  }
  
  .get-started-btn {
    font-family: 'Inter', sans-serif;
    border-radius: 1.5rem; /* Smaller border radius */
    background-color: black;
    transition: transform 0.3s, background-color 0.3s; /* Transition for button transform and background color */
    font-size: 0.7rem; /* Smaller text size */
    padding: 15px 25px; /* Less padding inside button */ /* Thin white border */
    color: white; /* Text color */
  }
  
  .get-started-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background when hovered */
    transform: scale(1.05); /* Slightly increase size on hover */
  }
  
  .overlay-text {
    color: #ffffff;
    text-align: center;
    opacity: 0; /* Initial opacity */
    transition: opacity 1s ease, transform 1s ease; /* Transition for opacity and transform */
    transform: translateY(20px); /* Initial position below */
  }
  
  .image-container.show-overlay .overlay-text {
    opacity: 1; /* Final opacity */
    transform: translateY(0); /* Final position */
  }